### Pandas Basics

Pandas is a library built using NumPy specifically for data analysis. we'll be using Pandas heavily for data manipulation, visualisation, building machine learning models, etc.

There are two main data structures in Pandas - `Series` and `Dataframes`. 
The default way to store data is dataframes, and thus manipulating dataframes quickly is probably the most important skill set for data analysis.

Source: https://pandas.pydata.org/pandas-docs/stable/overview.html

In this section, we will study:

    The pandas Series (similar to a numpy array)
    Creating a pandas series
    Indexing series
    Dataframes
    Creating dataframes from dictionaries
    Importing CSV data files as pandas dataframes
    Reading and summarising dataframes
    Sorting dataframes

### 1. The Pandas Series
    A series is similar to a 1-D numpy array, and contains scalar values of the same type (numeric, character, datetime etc.). A dataframe is simply a table where each column is a pandas series.

### Creating Pandas Series

Series are one-dimensional array-like structures, though unlike numpy arrays, they often contain non-numeric data (characters, dates, time, booleans etc.)

You can create pandas series from array-like objects using ```pd.Series()```.

In [19]:
import pandas as pd 
import numpy as np

In [24]:
#Creating a numeric pandas series 
series = pd.Series([1,2,3,4,5,6,7,8])
print(series)
print(type(series))
print(series.T)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

### Series Funtions

In [52]:
print("Series:",series)

print("Series Transpose:",series.T)

print("Series Datatype: ",series.dtype)

print("Series as Array: ",series.array)

print("Series value at index 0: ",series.at[0])

print("Series axis details: ",series.axes)

print("Series dtypes: ",series.dtypes)

print("Series checkes if NaN values: ",series.hasnans)

print("Series integer location based index based on position :",series.iloc[3:6])

print("The index of Series: ",series.index)

print("Checks id Series is unique : ",series.is_unique)

print("Series location vased index based on position: ",series.loc[5])

print("Series name: ",series.name)

print("Series bytes :",series.nbytes)

print("Series ndimenstions: ",series.ndim)

print("Series Shape: ",series.shape)

print("Series size: ",series.size)

print("Series values: ",series.values)

Series: 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
Series Transpose: 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
Series Datatype:  int64
Series as Array:  <PandasArray>
[1, 2, 3, 4, 5, 6, 7, 8]
Length: 8, dtype: int64
Series value at index 0:  1
Series axis details:  [RangeIndex(start=0, stop=8, step=1)]
Series dtypes:  int64
Series checkes if NaN values:  False
Series integer location based index based on position : 3    4
4    5
5    6
dtype: int64
The index of Series:  RangeIndex(start=0, stop=8, step=1)
Checks id Series is unique :  True
Series location vased index based on position:  6
Series name:  None
Series bytes : 64
Series ndimenstions:  1
Series Shape:  (8,)
Series size:  8
Series values:  [1 2 3 4 5 6 7 8]

In [53]:
### Char Series
char_ser = pd.Series(['a','b','x','y','z','c'])
print(char_ser)

0    a
1    b
2    x
3    y
4    z
5    c
dtype: object

### Indexing Series
Indexing series is exactly same as 1-D numpy array, idex atarts at 0

In [59]:
char_ser[0]

'a'

In [64]:
char_ser.iloc[:3]

0    a
1    b
2    x
dtype: object

In [62]:
char_ser.loc[2:]

2    x
3    y
4    z
5    c
dtype: object

In [68]:
# accessing the second and the fourth elements
# note that s[1, 3] will not work, you need to pass the indices [1, 3] as a list inside the original []
char_ser[[1,3]]

1    b
3    y
dtype: object

#### Explicitly specifying indices
You might have noticed that while creating a series, Pandas automatically indexes it from 0 to (n-1), n being the number of rows. But if we want, we can also explicitly set the index ourselves, using the ‘index’ argument while creating the series using 'pd.Series()'

In [70]:
ind_ser = pd.Series(['a','b','c','d','f','g','h','i'], index=[1,2,3,4,5,6,7,8])
ind_ser

1    a
2    b
3    c
4    d
5    f
6    g
7    h
8    i
dtype: object

In [77]:
#Example : Create a series using list = [6,7,8,9,2,3,4,5] and print the output series as the square of each number in the list.

list_1 = [6,7,8,9,2,3,4,5]
list_series = pd.Series(list_1)
print(list_series)
print(list(list_series.apply(lambda x:x**2)))

0    6
1    7
2    8
3    9
4    2
5    3
6    4
7    5
dtype: int64
[36, 49, 64, 81, 4, 9, 16, 25]

In [73]:
# We can also give the index as a sequence or use functions to specify the index
# But always make sure that the number of elements in the index list is equal to the number of elements specified in the series

pd.Series(np.array(range(1,100))**2, index=range(1,100))

1        1
2        4
3        9
4       16
5       25
      ...
95    9025
96    9216
97    9409
98    9604
99    9801
Length: 99, dtype: int32

Usually, we will work with Series only as a part of dataframes. Let's study the basics of dataframes.

### The Pandas Dataframe

Dataframe is the most widely used data-structure in data analysis. It is a table with rows and columns, with rows having an index and columns having meaningful names.

#### Creating dataframes from dictionaries

There are various ways of creating dataframes, such as creating them from dictionaries, JSON objects, reading from txt, CSV files, etc. ###

In [76]:
df = pd.DataFrame({'name':['Sudhasrinivas','Saraswathi','Riyansh'],
                  'age':[35,33,4]})
df

            name  age
0  Sudhasrinivas   35
1     Saraswathi   33
2        Riyansh    4

Usually, dataframes are imported as CSV files, but sometimes it is more convenient to convert dictionaries into dataframes. For e.g. when the raw data is in a JSON format (which is not uncommon), you can easily convert it into a dictionary, and then into a dataframe.


You will learn how to convert JSON objects to dataframes later.

In [78]:
path = "CarPrice_Assignment.csv"

In [79]:
dataframe = pd.read_csv(path)

### Reading and Summarising Dataframes¶
After you import a dataframe, you'd want to quickly understand its structure, shape, meanings of rows and columns etc. Further, you may want to look at summary statistics - such as mean, percentiles etc.

In [83]:
dataframe.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [84]:
dataframe.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [86]:
### Information about dataframe
dataframe.info()
# Note that each column is basically a pandas Series of length 205

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [87]:
# Describe gives you a summary of all the numeric columns in the dataset
dataframe.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [91]:
#Get all column names in dataframe
dataframe.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [94]:
# The number of rows and columns
dataframe.shape

(205, 26)

In [95]:
# You can extract the values of a dataframe as a numpy array using df.values 
dataframe.values

array([[1, 3, 'alfa-romero giulia', ..., 21, 27, 13495.0],
       [2, 3, 'alfa-romero stelvio', ..., 21, 27, 16500.0],
       [3, 1, 'alfa-romero Quadrifoglio', ..., 19, 26, 16500.0],
       ...,
       [203, -1, 'volvo 244dl', ..., 18, 23, 21485.0],
       [204, -1, 'volvo 246', ..., 26, 27, 22470.0],
       [205, -1, 'volvo 264gl', ..., 19, 25, 22625.0]], dtype=object)

#### Indices 

An important concept in pandas dataframes is that of *row indices*. By default, each row is assigned indices starting from 0, and are represented at the left side of the dataframe.

In [97]:
dataframe.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

Now, arbitrary numeric indices are difficult to read and work with. Thus, you may want to change the indices of the df to something more meanigful.

Let's change the index to car_id (unique id of each order), so that you can select rows using the order ids directly.

In [98]:
#setting index to car_ID 
dataframe.set_index('car_ID', inplace=True)
dataframe.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

#### Sorting dataframes

You can sort dataframes in two ways 

    1) by the indices 
    2) by the values.

In [105]:
dataframe.sort_index(axis=1, ascending=True)

,CarName,aspiration,boreratio,carbody,carheight,carlength,carwidth,citympg,compressionratio,curbweight,...,enginetype,fuelsystem,fueltype,highwaympg,horsepower,peakrpm,price,stroke,symboling,wheelbase
car_ID,,,,,,,,,,,,,,,,,,,,,
1,alfa-romero giulia,std,3.47,convertible,48.8,168.8,64.1,21,9.0,2548,...,dohc,mpfi,gas,27,111,5000,13495.0,2.68,3,88.6
2,alfa-romero stelvio,std,3.47,convertible,48.8,168.8,64.1,21,9.0,2548,...,dohc,mpfi,gas,27,111,5000,16500.0,2.68,3,88.6
3,alfa-romero Quadrifoglio,std,2.68,hatchback,52.4,171.2,65.5,19,9.0,2823,...,ohcv,mpfi,gas,26,154,5000,16500.0,3.47,1,94.5
4,audi 100 ls,std,3.19,sedan,54.3,176.6,66.2,24,10.0,2337,...,ohc,mpfi,gas,30,102,5500,13950.0,3.40,2,99.8
5,audi 100ls,std,3.19,sedan,54.3,176.6,66.4,18,8.0,2824,...,ohc,mpfi,gas,22,115,5500,17450.0,3.40,2,99.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,volvo 145e (sw),std,3.78,sedan,55.5,188.8,68.9,23,9.5,2952,...,ohc,mpfi,gas,28,114,5400,16845.0,3.15,-1,109.1
202,volvo 144ea,turbo,3.78,sedan,55.5,188.8,68.8,19,8.7,3049,...,ohc,mpfi,gas,25,160,5300,19045.0,3.15,-1,109.1
203,volvo 244dl,std,3.58,sedan,55.5,188.8,68.9,18,8.8,3012,...,ohcv,mpfi,gas,23,134,5500,21485.0,2.87,-1,109.1
204,volvo 246,turbo,3.01,sedan,55.5,188.8,68.9,26,23.0,3217,...,ohc,idi,diesel,27,106,4800,22470.0,3.40,-1,109.1
205,volvo 264gl,turbo,3.78,sedan,55.5,188.8,68.9,19,9.5,3062,...,ohc,mpfi,gas,25,114,5400,22625.0,3.15,-1,109.1

<b>Note:</b> A DataFrame object has two axes: `“axis 0”` and `“axis 1”`.
            `“axis 0”` represents `rows` and `“axis 1”` represents `columns`.
            
Now it’s clear that Series and DataFrame share the same direction for “axis 0”

In [107]:
dataframe.sort_values(by="CarName", ascending=True)

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
90,1,Nissan versa,gas,std,two,sedan,fwd,front,94.5,165.3,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-2,volvo 264gl,gas,turbo,four,sedan,rwd,front,104.3,188.8,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420.0
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0
200,-1,volvo diesel,gas,turbo,four,wagon,rwd,front,104.3,188.8,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950.0
190,3,vw dasher,gas,std,two,convertible,fwd,front,94.5,159.3,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595.0
191,3,vw rabbit,gas,std,two,hatchback,fwd,front,94.5,165.7,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980.0

In [112]:
dataframe.sort_values(by=["CarName",'doornumber'], ascending=False).head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
191,3,vw rabbit,gas,std,two,hatchback,fwd,front,94.5,165.7,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980.0
190,3,vw dasher,gas,std,two,convertible,fwd,front,94.5,159.3,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595.0
200,-1,volvo diesel,gas,turbo,four,wagon,rwd,front,104.3,188.8,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950.0
199,-2,volvo 264gl,gas,turbo,four,sedan,rwd,front,104.3,188.8,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420.0
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

## Indexing and Selecting Data

In this section, you will:

* Select rows from a dataframe
* Select columns from a dataframe
* Select subsets of dataframes

In [120]:
# Selecting the rows from indices 2 to 5
dataframe[2:5]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [125]:
# Selecting alternate rows starting from index = 3
dataframe[3::2].head(20)

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950.000
6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,15250.000
8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,18920.000
10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,131,mpfi,3.13,3.40,7.00,160,5500,16,22,17859.167
12,0,bmw 320i,gas,std,four,sedan,rwd,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925.000
14,0,bmw x3,gas,std,four,sedan,rwd,front,101.2,176.8,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105.000
16,0,bmw x4,gas,std,four,sedan,rwd,front,103.5,189.0,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760.000
18,0,bmw x3,gas,std,four,sedan,rwd,front,110.0,197.0,...,209,mpfi,3.62,3.39,8.00,182,5400,15,20,36880.000
20,1,chevrolet monte carlo,gas,std,two,hatchback,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295.000
22,1,dodge rampage,gas,std,two,hatchback,fwd,front,93.7,157.3,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572.000
24,1,dodge d200,gas,turbo,two,hatchback,fwd,front,93.7,157.3,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957.000
26,1,dodge colt hardtop,gas,std,four,sedan,fwd,front,93.7,157.3,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692.000
28,1,dodge coronet custom,gas,turbo,two,sedan,fwd,front,93.7,157.3,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558.000
30,3,dodge coronet custom (sw),gas,turbo,two,hatchback,fwd,front,95.9,173.2,...,156,mfi,3.60,3.90,7.00,145,5000,19,24,12964.000
32,2,honda civic cvcc,gas,std,two,hatchback,fwd,front,86.6,144.6,...,92,1bbl,2.91,3.41,9.20,76,6000,31,38,6855.000
34,1,honda accord cvcc,gas,std,two,hatchback,fwd,front,93.7,150.0,...,92,1bbl,2.91,3.41,9.20,76,6000,30,34,6529.000
36,0,honda accord lx,gas,std,four,sedan,fwd,front,96.5,163.4,...,92,1bbl,2.91,3.41,9.20,76,6000,30,34,7295.000
38,0,honda accord,gas,std,two,hatchback,fwd,front,96.5,167.5,...,110,1bbl,3.15,3.58,9.00,86,5800,27,33,7895.000
40,0,honda prelude,gas,std,four,sedan,fwd,front,96.5,175.4,...,110,1bbl,3.15,3.58,9.00,86,5800,27,33,8845.000
42,0,honda civic,gas,std,four,sedan,fwd,front,96.5,175.4,...,110,mpfi,3.15,3.58,9.00,101,5800,24,28,12945.000

### Selecting Columns
There are two simple ways to select a single column from a dataframe - `df['column_name']` and `df.column_name`.

In [132]:
#using df['column_name']
col = dataframe['fueltype']
print(col)
print(type(col))

car_ID
1         gas
2         gas
3         gas
4         gas
5         gas
        ...
201       gas
202       gas
203       gas
204    diesel
205       gas
Name: fueltype, Length: 205, dtype: object
<class 'pandas.core.series.Series'>

In [133]:
col2 = dataframe.wheelbase
print(col2)
print(type(col2))

car_ID
1       88.6
2       88.6
3       94.5
4       99.8
5       99.4
       ...
201    109.1
202    109.1
203    109.1
204    109.1
205    109.1
Name: wheelbase, Length: 205, dtype: float64
<class 'pandas.core.series.Series'>

### Selecting Multiple Columns 

You can select multiple columns by passing the list of column names inside the ```[]```: ```df[['column_1', 'column_2', 'column_n']]```.

For instance, to select only the columns fueltype, wheelbase:

In [137]:
dataframe[['fueltype','wheelbase']].head()
print(type(dataframe[['fueltype','wheelbase']]))
#Notice that in this case, the output is itself a dataframe

<class 'pandas.core.frame.DataFrame'>

### Selecting Subsets of Dataframes
Until now, you have seen selecting rows and columns using the following ways:

    Selecting rows: df[start:stop]

    Selecting columns: df['column'] or df.column or df[['col_x', 'col_y']]

    df['column'] or df.column return a series
    
    df[['col_x', 'col_y']] returns a dataframe
    
But pandas does not prefer this way of indexing dataframes, since it has some ambiguity. For instance, let's try and select the third row of the dataframe.

In [139]:
dataframe[3]

KeyError: 3

Pandas throws an error because it is confused whether the ```[2]``` is an *index* or a *label*. Recall from the previous section that you can change the row indices.

Because of this and similar other ambiguities, pandas provides explicit ways to subset dataframes - position based indexing and label based indexing, which we'll study next.

### Position and Label Based Indexing: df.iloc and df.loc
You have seen some ways of selecting rows and columns from dataframes. Let's now see some other ways of indexing dataframes, which pandas recommends, since they are more explicit (and less ambiguous).

There are two main ways of indexing dataframes:

    Position based indexing using df.iloc
    Label based indexing using df.loc
Using both the methods, we will do the following indexing operations on a dataframe:

    Selecting single elements/cells
    Selecting single and multiple rows
    Selecting single and multiple columns
    Selecting multiple rows and columns

In [141]:
help(pd.DataFrame.iloc)

Help on property:

    Purely integer-location based indexing for selection by position.

    ``.iloc[]`` is primarily integer position based (from ``0`` to
    ``length-1`` of the axis), but may also be used with a boolean
    array.

    Allowed inputs are:

    - An integer, e.g. ``5``.
    - A list or array of integers, e.g. ``[4, 3, 0]``.
    - A slice object with ints, e.g. ``1:7``.
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above).
      This is useful in method chains, when you don't have a reference to the
      calling object, but would like to base your selection on some value.

    ``.iloc`` will raise ``IndexError`` if a requested indexer is
    out-of-bounds, except *slice* indexers which allow out-of-bounds
    indexing (this conforms with python/numpy *slice* semantics).

    See more at :ref:`Selection by Position <indexing.integer>`.

    See Also
    --------
    DataFrame.iat : Fast integer location scalar accessor.
    DataFrame.loc : Purely label-location based indexer for selection by label.
    Series.iloc : Purely integer-location based indexing for
                   selection by position.

    Examples
    --------

    >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
    ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
    ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
    >>> df = pd.DataFrame(mydict)
    >>> df
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    **Indexing just the rows**

    With a scalar integer.

    >>> type(df.iloc[0])
    <class 'pandas.core.series.Series'>
    >>> df.iloc[0]
    a    1
    b    2
    c    3
    d    4
    Name: 0, dtype: int64

    With a list of integers.

    >>> df.iloc[[0]]
       a  b  c  d
    0  1  2  3  4
    >>> type(df.iloc[[0]])
    <class 'pandas.core.frame.DataFrame'>

    >>> df.iloc[[0, 1]]
         a    b    c    d
    0    1    2    3    4
    1  100  200  300  400

    With a `slice` object.

    >>> df.iloc[:3]
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    With a boolean mask the same length as the index.

    >>> df.iloc[[True, False, True]]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    With a callable, useful in method chains. The `x` passed
    to the ``lambda`` is the DataFrame being sliced. This selects
    the rows whose index label even.

    >>> df.iloc[lambda x: x.index % 2 == 0]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    **Indexing both axes**

    You can mix the indexer types for the index and columns. Use ``:`` to
    select the entire axis.

    With scalar integers.

    >>> df.iloc[0, 1]
    2

    With lists of integers.

    >>> df.iloc[[0, 2], [1, 3]]
          b     d
    0     2     4
    2  2000  4000

    With `slice` objects.

    >>> df.iloc[1:3, 0:3]
          a     b     c
    1   100   200   300
    2  1000  2000  3000

    With a boolean array whose length matches the columns.

    >>> df.iloc[:, [True, False, True, False]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

    With a callable function that expects the Series or DataFrame.

    >>> df.iloc[:, lambda df: [0, 2]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

As mentioned in the documentation, the inputs x, y to df.iloc[x, y] can be:

    An integer, e.g. 3
    A list or array of integers, e.g. [3, 7, 8]
    An integer range, i.e. 3:8
    A boolean array
    Let's see some examples

In [144]:
dataframe.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [165]:
# Selecting a single element
# Selecting 0th row 1st column value
dataframe.iloc[0,1]

'alfa-romero giulia'

Note that simply writing df[2, 4] will throw an error, since pandas gets confused whether the 2 is an integer index (the third row), or is it a row with label = 2?

On the other hand, df.iloc[2, 4] tells pandas explicitly that it should assume integer indices.

In [166]:
# Selecting a single row, and all columns
#gives 5th row data with column names 
dataframe.iloc[5]

symboling                  2
CarName             audi fox
fueltype                 gas
aspiration               std
doornumber               two
carbody                sedan
drivewheel               fwd
enginelocation         front
wheelbase               99.8
carlength              177.3
carwidth                66.3
carheight               53.1
curbweight              2507
enginetype               ohc
cylindernumber          five
enginesize               136
fuelsystem              mpfi
boreratio               3.19
stroke                   3.4
compressionratio         8.5
horsepower               110
peakrpm                 5500
citympg                   19
highwaympg                25
price                  15250
Name: 6, dtype: object

In [172]:
# The above is equivalent to this
# The ":" indicates "all rows/columns", all rows of 5th column in data frame
dataframe.iloc[:, 5]

car_ID
1      convertible
2      convertible
3        hatchback
4            sedan
5            sedan
          ...
201          sedan
202          sedan
203          sedan
204          sedan
205          sedan
Name: carbody, Length: 205, dtype: object

In [175]:
#get 2 to 3 rows and 0 to 4th column in dataframe
dataframe.iloc[1:3, 0:4]

        symboling                   CarName fueltype aspiration
car_ID
2               3       alfa-romero stelvio      gas        std
3               1  alfa-romero Quadrifoglio      gas        std

In [182]:
dataframe.iloc[[1,2,3], :]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0

To summarise, df.iloc[x, y] uses integer indices starting at 0.

The other common way of indexing is the label based indexing, which uses df.loc[]

### Label Based Indexing
Pandas provides the df.loc[] functionality to index dataframes using labels.

In [186]:
help(pd.DataFrame.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    Raises
    ------
    KeyError
        If any items are not found.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

As mentioned in the documentation, the inputs x, y to df.loc[x, y] can be:

    A single label, e.g. '3' or 'row_index'
    A list or array of labels, e.g. ['3', '7', '8']
    A range of labels, where row_x and row_y both are included, i.e. 'row_x':'row_y'
    A boolean array
    Let's see some examples

In [188]:
# Selecting a single element
# Select row label = 2 and column label = 'CarName'
dataframe.loc[2,'CarName']

'alfa-romero stelvio'

In [189]:
#returns all the columns with row 3 data 
dataframe.loc[3]

symboling                                  1
CarName             alfa-romero Quadrifoglio
fueltype                                 gas
aspiration                               std
doornumber                               two
carbody                            hatchback
drivewheel                               rwd
enginelocation                         front
wheelbase                               94.5
carlength                              171.2
carwidth                                65.5
carheight                               52.4
curbweight                              2823
enginetype                              ohcv
cylindernumber                           six
enginesize                               152
fuelsystem                              mpfi
boreratio                               2.68
stroke                                  3.47
compressionratio                           9
horsepower                               154
peakrpm                                 5000
citympg                                   19
highwaympg                                26
price                                  16500
Name: 3, dtype: object

In [190]:
#returns only 3,5,7 rows with all columns 
dataframe.loc[[3,5,7]]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.0

In [191]:
#returns 5 to 8 rows 
dataframe[4:8]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450.0
6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250.0
7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710.0
8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920.0

In [200]:
#
dataframe.loc[:7,]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0
7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.0

To summarise, we discussed two explicit ways of indexing dataframes - df.iloc[] and df.loc[]. Next, let's study how to slice and dice sections of dataframes.

### Subsetting Rows Based on Conditions¶
Often, you want to select rows which satisfy some given conditions. For e.g., select all the orders where the fuletype=gas 

Arguably, the best way to do these operations is using df.loc[], since df.iloc[] would require you to remember the integer column indices, which is tedious.

Let's see some examples.

In [208]:
dataframe.citympg > 20

car_ID
1       True
2       True
3      False
4       True
5      False
       ...
201     True
202    False
203    False
204     True
205    False
Name: citympg, Length: 205, dtype: bool

In [210]:
#gets all the rows  where citympg > 20
dataframe.loc[dataframe.citympg > 20]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
11,2,bmw 320i,gas,std,two,sedan,rwd,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430.0
12,0,bmw 320i,gas,std,four,sedan,rwd,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,volvo 144ea,gas,std,four,wagon,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415.0
197,-2,volvo 244dl,gas,std,four,sedan,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985.0
198,-1,volvo 245,gas,std,four,wagon,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515.0
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
204,-1,volvo 246,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0

In [220]:
dataframe.loc[(dataframe.citympg > 20) & (dataframe.citympg < 25),:]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950.0
11,2,bmw 320i,gas,std,two,sedan,rwd,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16430.0
12,0,bmw 320i,gas,std,four,sedan,rwd,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925.0
13,0,bmw x1,gas,std,two,sedan,rwd,front,101.2,176.8,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970.0
14,0,bmw x3,gas,std,four,sedan,rwd,front,101.2,176.8,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105.0
24,1,dodge d200,gas,turbo,two,hatchback,fwd,front,93.7,157.3,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957.0
28,1,dodge coronet custom,gas,turbo,two,sedan,fwd,front,93.7,157.3,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558.0
29,-1,dodge dart custom,gas,std,four,wagon,fwd,front,103.3,174.6,...,122,2bbl,3.34,3.46,8.50,88,5000,24,30,8921.0
42,0,honda civic,gas,std,four,sedan,fwd,front,96.5,175.4,...,110,mpfi,3.15,3.58,9.00,101,5800,24,28,12945.0
44,0,isuzu MU-X,gas,std,four,sedan,rwd,front,94.3,170.7,...,111,2bbl,3.31,3.23,8.50,78,4800,24,29,6785.0
47,2,isuzu D-Max,gas,std,two,hatchback,rwd,front,96.0,172.6,...,119,spfi,3.43,3.23,9.20,90,5000,24,29,11048.0
68,-1,buick electra 225 custom,gas,turbo,four,sedan,rwd,front,110.0,190.9,...,183,idi,3.58,3.64,21.50,123,4350,22,25,25552.0
69,-1,buick century luxus (sw),gas,turbo,four,wagon,rwd,front,110.0,190.9,...,183,idi,3.58,3.64,21.50,123,4350,22,25,28248.0
70,0,buick century,gas,turbo,two,hardtop,rwd,front,106.7,187.5,...,183,idi,3.58,3.64,21.50,123,4350,22,25,28176.0
71,-1,buick skyhawk,gas,turbo,four,sedan,rwd,front,115.6,202.6,...,183,idi,3.58,3.64,21.50,123,4350,22,25,31600.0
80,1,mitsubishi g4,gas,turbo,two,hatchback,fwd,front,93.0,157.3,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7689.0
81,3,mitsubishi mirage g4,gas,turbo,two,hatchback,fwd,front,96.3,173.0,...,110,spdi,3.17,3.46,7.50,116,5500,23,30,9959.0
88,1,mitsubishi outlander,gas,turbo,four,sedan,fwd,front,96.3,172.4,...,110,spdi,3.17,3.46,7.50,116,5500,23,30,9279.0
89,-1,mitsubishi mirage g4,gas,std,four,sedan,fwd,front,96.3,172.4,...,110,spdi,3.17,3.46,7.50,116,5500,23,30,9279.0
120,1,plymouth cricket,gas,turbo,two,hatchback,fwd,front,93.7,157.3,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7957.0
124,-1,plymouth valiant,gas,std,four,wagon,fwd,front,103.3,174.6,...,122,2bbl,3.35,3.46,8.50,88,5000,24,30,8921.0
131,0,renault 12tl,gas,std,four,wagon,fwd,front,96.1,181.5,...,132,mpfi,3.46,3.90,8.70,90,5100,23,31,9295.0
132,2,renault 5 gtl,gas,std,two,hatchback,fwd,front,96.1,176.8,...,132,mpfi,3.46,3.90,8.70,90,5100,23,31,9895.0
133,3,saab 99e,gas,std,two,hatchback,fwd,front,99.1,186.6,...,121,mpfi,3.54,3.07,9.31,110,5250,21,28,11850.0
134,2,saab 99le,gas,std,four,sedan,fwd,front,99.1,186.6,...,121,mpfi,3.54,3.07,9.30,110,5250,21,28,12170.0
135,3,saab 99le,gas,std,two,hatchback,fwd,front,99.1,186.6,...,121,mpfi,2.54,2.07,9.30,110,5250,21,28,15040.0
136,2,saab 99gle,gas,std,four,sedan,fwd,front,99.1,186.6,...,121,mpfi,3.54,3.07,9.30,110,5250,21,28,15510.0
145,0,subaru r1,gas,std,four,sedan,4wd,front,97.0,172.0,...,108,2bbl,3.62,2.64,9.00,82,4800,24,25,9233.0
146,0,subaru r2,gas,turbo,four,sedan,4wd,front,97.0,172.0,...,108,mpfi,3.62,2.64,7.70,111,4800,24,29,11259.0
149,0,subaru dl,gas,std,four,wagon,4wd,front,96.9,173.6,...,108,2bbl,3.62,2.64,9.00,82,4800,23,29,8013.0
150,0,subaru dl,gas,turbo,four,wagon,4wd,front,96.9,173.6,...,108,mpfi,3.62,2.64,7.70,111,4800,23,23,11694.0
168,2,toyota corona liftback,gas,std,two,hardtop,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,8449.0
169,2,toyota corolla,gas,std,two,hardtop,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,9639.0
170,2,toyota starlet,gas,std,two,hatchback,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,9989.0
171,2,toyota tercel,gas,std,two,hardtop,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,11199.0
172,2,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,11549.0
173,2,toyota cressida,gas,std,two,convertible,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,17669.0
190,3,vw dasher,gas,std,two,convertible,fwd,front,94.5,159.3,...,109,mpfi,3.19,3.40,8.50,90,5500,24,29,11595.0
191,3,vw rabbit,gas,std,two,hatchback,fwd,front,94.5,165.7,...,109,mpfi,3.19,3.40,8.50,90,5500,24,29,9980.0
195,-2,volvo 145e (sw),gas,std,four,sedan,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,12940.0
196,-1,volvo 144ea,gas,std,four,wagon,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,13415.0
197,-2,volvo 244dl,gas,std,four,sedan,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,15985.0
198,-1,volvo 245,gas,std,four,wagon,rwd,front,104.3,188.8,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,16515.0
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,16845.0

In [224]:
# You may want to select rows whose column value is in an iterable
# For instance, say a colleague gives you a list of customer_ids from a certain region

car_type = ['hatchback', 'sedan']

# To get all the orders from these customers, use the isin() function
# It returns a boolean, which you can use to select rows
dataframe.loc[dataframe.carbody.isin(car_type),:]

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0
7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
204,-1,volvo 246,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

### Merging and Concatenating Dataframes
In this section, you will merge and concatenate multiple dataframes. Merging is one of the most common operations you will do, since data often comes in various files.

In our case, we have sales data of a retail store spread across multiple files. We will now work with all these data files and learn to:

    Merge multiple dataframes using common columns/keys using pd.merge()
    Concatenate dataframes using pd.concat()
    Let's first read all the data files.

### Merging Dataframes Using pd.merge()

In [225]:
#Mergin market_dataframe and customer dataframe with inner join using cust_id
#EX: df_1 = pd.merge(market_df, customer_df, how='inner', on='Cust_id')

Similary, you can perform left, right and outer merges (joins) by using the argument how = 'left' / 'right' / 'outer'.

Concatenating Dataframes
Concatenation is much more straightforward than merging. It is used when you have dataframes having the same columns and want to append them (pile one on top of the other), or having the same rows and want to append them side-by-side.

Concatenating Dataframes Having the Same columns
Say you have two dataframes having the same columns, like so:

In [228]:
# dataframes having the same columns
df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age': ['34', '31', '22', '33'],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )

df2 = pd.DataFrame({'Name': ['Akhil', 'Asha', 'Preeti'],
                    'Age': ['31', '22', '23'],
                    'Gender': ['M', 'F', 'F']}
                  )

     Name Age Gender
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

In [229]:
# To concatenate them, one on top of the other, you can use pd.concat
# The first argument is a sequence (list) of dataframes
# axis = 0 indicates that we want to concat along the row axis
pd.concat([df1, df2], axis = 0)

     Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

In [230]:
# A useful and intuitive alternative to concat along the rows is the append() function
# It concatenates along the rows
df1.append(df2)

     Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

### Concatenating Dataframes Having the Same Rows¶
You may also have dataframes having the same rows but different columns (and having no common columns). In this case, you may want to concat them side-by-side. For e.g.

In [231]:
df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age': ['34', '31', '22', '33'],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )
df1

     Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M

In [232]:
df2 = pd.DataFrame({'School': ['RK Public', 'JSP', 'Carmel Convent', 'St. Paul'],
                    'Graduation Marks': ['84', '89', '76', '91']}
                  )
df2

           School Graduation Marks
0       RK Public               84
1             JSP               89
2  Carmel Convent               76
3        St. Paul               91

In [234]:
pd.concat([df1,df2], axis=1)

     Name Age Gender          School Graduation Marks
0    Aman  34      M       RK Public               84
1     Joy  31      M             JSP               89
2  Rashmi  22      F  Carmel Convent               76
3    Saif  33      M        St. Paul               91

Note that you can also use the pd.concat() method to merge dataframes using common keys, though here we will not discuss that. For simplicity, we have used the pd.merge() method for database-style merging and pd.concat() for appending dataframes having no common columns.

### Performing Arithmetic Operations on two or more dataframes
We can also perform simple arithmetic operations on two or more dataframes. Below are the stats for IPL 2018 and 2017.

In [235]:
# Teamwise stats for IPL 2018
IPL_2018 = pd.DataFrame({'IPL Team': ['CSK', 'SRH', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches Played': [16, 17, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [11, 10, 9, 7, 6, 6, 6, 5]}
                       )

# Set the 'IPL Team' column as the index to perform arithmetic operations on the other rows using the team as reference
IPL_2018.set_index('IPL Team', inplace = True)
IPL_2018

          Matches Played  Matches Won
IPL Team
CSK                   16           11
SRH                   17           10
KKR                   16            9
RR                    15            7
MI                    14            6
RCB                   14            6
KXIP                  14            6
DD                    14            5

In [236]:
# Similarly, we have the stats for IPL 2017
IPL_2017 = pd.DataFrame({'IPL Team': ['MI', 'RPS', 'KKR', 'SRH', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches Played': [17, 16, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [12, 10, 9, 8, 7, 6, 4, 3]}
                       )
IPL_2017.set_index('IPL Team', inplace = True)
IPL_2017

          Matches Played  Matches Won
IPL Team
MI                    17           12
RPS                   16           10
KKR                   16            9
SRH                   15            8
KXIP                  14            7
DD                    14            6
GL                    14            4
RCB                   14            3

In [237]:
Total = IPL_2017+IPL_2018

In [238]:
Total

          Matches Played  Matches Won
IPL Team
CSK                  NaN          NaN
DD                  28.0         11.0
GL                   NaN          NaN
KKR                 32.0         18.0
KXIP                28.0         13.0
MI                  31.0         18.0
RCB                 28.0          9.0
RPS                  NaN          NaN
RR                   NaN          NaN
SRH                 32.0         18.0

Notice that there are a lot of NaN values. This is because some teams which played in IPL 2017 were not present in IPL 2018. In addition, there were also new teams present in IPL 2018. We can handle these NaN values by using df.add() instead of the simple add operator. Let's see how.

In [240]:
# The fill_value argument inside the df.add() function replaces all the NaN values in the two dataframes w.r.t. each other with zero.
Total = IPL_2018.add(IPL_2017, fill_value=0)

In [241]:
Total

          Matches Played  Matches Won
IPL Team
CSK                 16.0         11.0
DD                  28.0         11.0
GL                  14.0          4.0
KKR                 32.0         18.0
KXIP                28.0         13.0
MI                  31.0         18.0
RCB                 28.0          9.0
RPS                 16.0         10.0
RR                  15.0          7.0
SRH                 32.0         18.0

Also notice how the resultant dataframe is sorted by the index, i.e. 'IPL Team' alphabetically.

In [242]:
#Creating a new column win percentage 
Total['Winning_Percentage'] = Total['Matches Won']/Total['Matches Played']

In [243]:
Total

          Matches Played  Matches Won  Winning_Percentage
IPL Team
CSK                 16.0         11.0            0.687500
DD                  28.0         11.0            0.392857
GL                  14.0          4.0            0.285714
KKR                 32.0         18.0            0.562500
KXIP                28.0         13.0            0.464286
MI                  31.0         18.0            0.580645
RCB                 28.0          9.0            0.321429
RPS                 16.0         10.0            0.625000
RR                  15.0          7.0            0.466667
SRH                 32.0         18.0            0.562500

In [244]:
Total.sort_values(by=(['Matches Won','Winning_Percentage']), ascending=False)

          Matches Played  Matches Won  Winning_Percentage
IPL Team
MI                  31.0         18.0            0.580645
KKR                 32.0         18.0            0.562500
SRH                 32.0         18.0            0.562500
KXIP                28.0         13.0            0.464286
CSK                 16.0         11.0            0.687500
DD                  28.0         11.0            0.392857
RPS                 16.0         10.0            0.625000
RCB                 28.0          9.0            0.321429
RR                  15.0          7.0            0.466667
GL                  14.0          4.0            0.285714

Apart from add(), there are also other operator-equivalent mathematical functions that you can use on Dataframes. Below is a list of all the functions that you can use to perform operations on two or more dataframes

    add(): +
    sub(): -
    mul(): *
    div(): /
    floordiv(): //
    mod(): %
    pow(): **

## Grouping and Summarising Dataframes
Grouping and aggregation are some of the most frequently used operations in data analysis, especially while doing exploratory data analysis (EDA), where comparing summary statistics across groups of data is common.


Grouping analysis can be thought of as having three parts:

    Splitting the data into groups (e.g. groups of customer segments, product categories, etc.)
    Applying a function to each group (e.g. mean or total sales of each customer segment)
    Combining the results into a data structure showing the summary statistics

In [245]:
dataframe.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [249]:
dataframe.carbody.unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [250]:
df_by_carbody = dataframe.groupby('carbody')
df_by_carbody

In [251]:
df_by_carbody.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495.000
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500.000
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500.000
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950.000
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450.000
6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,15250.000
7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,17710.000
8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,18920.000
9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,131,mpfi,3.13,3.40,8.30,140,5500,17,20,23875.000
10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,131,mpfi,3.13,3.40,7.00,160,5500,16,22,17859.167
19,2,chevrolet impala,gas,std,two,hatchback,fwd,front,88.4,141.1,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151.000
20,1,chevrolet monte carlo,gas,std,two,hatchback,fwd,front,94.5,155.9,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295.000
22,1,dodge rampage,gas,std,two,hatchback,fwd,front,93.7,157.3,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572.000
29,-1,dodge dart custom,gas,std,four,wagon,fwd,front,103.3,174.6,...,122,2bbl,3.34,3.46,8.50,88,5000,24,30,8921.000
37,0,honda civic 1500 gl,gas,std,four,wagon,fwd,front,96.5,157.1,...,92,1bbl,2.92,3.41,9.20,76,6000,30,34,7295.000
69,-1,buick century luxus (sw),gas,turbo,four,wagon,rwd,front,110.0,190.9,...,183,idi,3.58,3.64,21.50,123,4350,22,25,28248.000
70,0,buick century,gas,turbo,two,hardtop,rwd,front,106.7,187.5,...,183,idi,3.58,3.64,21.50,123,4350,22,25,28176.000
73,3,buick skylark,gas,std,two,convertible,rwd,front,96.6,180.3,...,234,mpfi,3.46,3.10,8.30,155,4750,16,18,35056.000
75,1,buick regal sport coupe (turbo),gas,std,two,hardtop,rwd,front,112.0,199.2,...,304,mpfi,3.80,3.35,8.00,184,4500,14,16,45400.000
94,1,nissan titan,gas,std,four,wagon,fwd,front,94.5,170.2,...,97,2bbl,3.15,3.29,9.40,69,5200,31,37,7349.000
99,2,nissan clipper,gas,std,two,hardtop,fwd,front,95.1,162.4,...,97,2bbl,3.15,3.29,9.40,69,5200,31,37,8249.000
127,3,porcshce panamera,gas,std,two,hardtop,rwd,rear,89.5,168.9,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,32528.000
128,3,porsche cayenne,gas,std,two,hardtop,rwd,rear,89.5,168.9,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,34028.000
129,3,porsche boxter,gas,std,two,convertible,rwd,rear,89.5,168.9,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,37028.000
173,2,toyota cressida,gas,std,two,convertible,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,17669.000

In [259]:
df_by_carbody.doornumber.count().sort_values(ascending=False)

carbody
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: doornumber, dtype: int64

In [263]:
df_by_carbody.count()

,symboling,CarName,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carbody,,,,,,,,,,,,,,,,,,,,,
convertible,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
hardtop,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
hatchback,70,70,70,70,70,70,70,70,70,70,...,70,70,70,70,70,70,70,70,70,70
sedan,96,96,96,96,96,96,96,96,96,96,...,96,96,96,96,96,96,96,96,96,96
wagon,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25

In [277]:
df_carbody = pd.DataFrame(df_by_carbody.doornumber.count().sort_values(ascending=False))
df_carbody

             doornumber
carbody
sedan                96
hatchback            70
wagon                25
hardtop               8
convertible           6

In [273]:
help(pd.DataFrame)

Help on class DataFrame in module pandas.core.frame:

class DataFrame(pandas.core.generic.NDFrame)
 |  DataFrame(data=None, index: Union[Collection, NoneType] = None, columns: Union[Collection, NoneType] = None, dtype: Union[str, numpy.dtype, ForwardRef('ExtensionDtype'), NoneType] = None, copy: bool = False)
 |
 |  Two-dimensional, size-mutable, potentially heterogeneous tabular data.
 |
 |  Data structure also contains labeled axes (rows and columns).
 |  Arithmetic operations align on both row and column labels. Can be
 |  thought of as a dict-like container for Series objects. The primary
 |  pandas data structure.
 |
 |  Parameters
 |  ----------
 |  data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
 |      Dict can contain Series, arrays, constants, or list-like objects.
 |
 |      .. versionchanged:: 0.23.0
 |         If data is a dict, column order follows insertion-order for
 |         Python 3.6 and later.
 |
 |      .. versionchanged:: 0.25.0
 |         If data is a list of dicts, column order follows insertion-order
 |         for Python 3.6 and later.
 |
 |  index : Index or array-like
 |      Index to use for resulting frame. Will default to RangeIndex if
 |      no indexing information part of input data and no index provided.
 |  columns : Index or array-like
 |      Column labels to use for resulting frame. Will default to
 |      RangeIndex (0, 1, 2, ..., n) if no column labels are provided.
 |  dtype : dtype, default None
 |      Data type to force. Only a single dtype is allowed. If None, infer.
 |  copy : bool, default False
 |      Copy data from inputs. Only affects DataFrame / 2d ndarray input.
 |
 |  See Also
 |  --------
 |  DataFrame.from_records : Constructor from tuples, also record arrays.
 |  DataFrame.from_dict : From dicts of Series, arrays, or dicts.
 |  read_csv
 |  read_table
 |  read_clipboard
 |
 |  Examples
 |  --------
 |  Constructing DataFrame from a dictionary.
 |
 |  >>> d = {'col1': [1, 2], 'col2': [3, 4]}
 |  >>> df = pd.DataFrame(data=d)
 |  >>> df
 |     col1  col2
 |  0     1     3
 |  1     2     4
 |
 |  Notice that the inferred dtype is int64.
 |
 |  >>> df.dtypes
 |  col1    int64
 |  col2    int64
 |  dtype: object
 |
 |  To enforce a single dtype:
 |
 |  >>> df = pd.DataFrame(data=d, dtype=np.int8)
 |  >>> df.dtypes
 |  col1    int8
 |  col2    int8
 |  dtype: object
 |
 |  Constructing DataFrame from numpy ndarray:
 |
 |  >>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
 |  ...                    columns=['a', 'b', 'c'])
 |  >>> df2
 |     a  b  c
 |  0  1  2  3
 |  1  4  5  6
 |  2  7  8  9
 |
 |  Method resolution order:
 |      DataFrame
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      pandas.core.indexing.IndexingMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __add__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __and__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __and__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __div__ = __truediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __eq__(self, other)
 |      Wrapper for comparison method __eq__
 |
 |  __floordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __floordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ge__(self, other)
 |      Wrapper for comparison method __ge__
 |
 |  __getitem__(self, key)
 |
 |  __gt__(self, other)
 |      Wrapper for comparison method __gt__
 |
 |  __iadd__(self, other)
 |
 |  __iand__(self, other)
 |
 |  __ifloordiv__(self, other)
 |
 |  __imod__(self, other)
 |
 |  __imul__(self, other)
 |
 |  __init__(self, data=None, index: Union[Collection, NoneType] = None, columns: Union[Collection, NoneType] = None, dtype: Union[str, numpy.dtype, ForwardRef('ExtensionDtype'), NoneType] = None, copy: bool = False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, other)
 |
 |  __ipow__(self, other)
 |
 |  __isub__(self, other)
 |
 |  __itruediv__(self, other)
 |
 |  __ixor__(self, other)
 |
 |  __le__(self, other)
 |      Wrapper for comparison method __le__
 |
 |  __len__(self) -> int
 |      Returns length of info axis, but here we use the index.
 |
 |  __lt__(self, other)
 |      Wrapper for comparison method __lt__
 |
 |  __matmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __mod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __mul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ne__(self, other)
 |      Wrapper for comparison method __ne__
 |
 |  __or__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __or__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __pow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __pow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __radd__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __radd__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rand__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __rand__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rdiv__ = __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |
 |  __repr__(self) -> str
 |      Return a string representation for a particular DataFrame.
 |
 |  __rfloordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rfloordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rmatmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __rmod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rmul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __ror__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __ror__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rpow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rpow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rsub__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rsub__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |  __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rtruediv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing

In [279]:
#Group By using multiple columns
df_segment = dataframe.groupby(['carbody','horsepower'])

In [295]:
df_segment.price.describe()

                        count     mean          std      min       25%  \
carbody     horsepower
convertible 90            1.0  11595.0          NaN  11595.0  11595.00
            111           2.0  14997.5  2124.855877  13495.0  14246.25
            116           1.0  17669.0          NaN  17669.0  17669.00
            155           1.0  35056.0          NaN  35056.0  35056.00
            207           1.0  37028.0          NaN  37028.0  37028.00
...                       ...      ...          ...      ...       ...
wagon       114           2.0  14965.0  2192.031022  13415.0  14190.00
            123           1.0  28248.0          NaN  28248.0  28248.00
            152           1.0  14399.0          NaN  14399.0  14399.00
            156           1.0  15750.0          NaN  15750.0  15750.00
            162           1.0  18950.0          NaN  18950.0  18950.00

                            50%       75%      max
carbody     horsepower
convertible 90          11595.0  11595.00  11595.0
            111         14997.5  15748.75  16500.0
            116         17669.0  17669.00  17669.0
            155         35056.0  35056.00  35056.0
            207         37028.0  37028.00  37028.0
...                         ...       ...      ...
wagon       114         14965.0  15740.00  16515.0
            123         28248.0  28248.00  28248.0
            152         14399.0  14399.00  14399.0
            156         15750.0  15750.00  15750.0
            162         18950.0  18950.00  18950.0

[101 rows x 8 columns]

### Lambda Functions and Pivot Tables
Until now, we have not made any changes or modifications to the data. In this section, we will:

    Use lambda functions to create new and alter existing columns
    Use pandas pivot tables as an alternative to df.groupby() to summarise data
    Let's first read all the files and create a master_df.

In [296]:
#creating a new column Car Company by splitting car name 

def split_name(carName):
    return carName.split(" ")[0]

dataframe['carcompany'] = dataframe.CarName.apply(split_name)

In [297]:
dataframe

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,carcompany
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,volvo
202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,volvo
203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,volvo
204,-1,volvo 246,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,volvo
205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,volvo

In [304]:
#same can be done using lambda
dataframe['car'] = dataframe.CarName.apply(lambda x: x.split(" "))
dataframe.company.value_counts()

toyota         31
nissan         17
mazda          15
mitsubishi     13
honda          13
subaru         12
peugeot        11
volvo          11
dodge           9
volkswagen      9
bmw             8
buick           8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
chevrolet       3
alfa-romero     3
jaguar          3
vw              2
renault         2
maxda           2
Nissan          1
porcshce        1
vokswagen       1
toyouta         1
mercury         1
Name: company, dtype: int64

In [305]:
df_cmp = dataframe.groupby('company')

In [306]:
df_cmp.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,carcompany,company,car
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,2.68,9.0,111,5000,21,27,13495.0,alfa-romero,alfa-romero,"[alfa-romero, giulia]"
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,2.68,9.0,111,5000,21,27,16500.0,alfa-romero,alfa-romero,"[alfa-romero, stelvio]"
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,3.47,9.0,154,5000,19,26,16500.0,alfa-romero,alfa-romero,"[alfa-romero, Quadrifoglio]"
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,3.40,10.0,102,5500,24,30,13950.0,audi,audi,"[audi, 100, ls]"
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,3.40,8.0,115,5500,18,22,17450.0,audi,audi,"[audi, 100ls]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-2,volvo 145e (sw),gas,std,four,sedan,rwd,front,104.3,188.8,...,3.15,9.5,114,5400,23,28,12940.0,volvo,volvo,"[volvo, 145e, (sw)]"
196,-1,volvo 144ea,gas,std,four,wagon,rwd,front,104.3,188.8,...,3.15,9.5,114,5400,23,28,13415.0,volvo,volvo,"[volvo, 144ea]"
197,-2,volvo 244dl,gas,std,four,sedan,rwd,front,104.3,188.8,...,3.15,9.5,114,5400,24,28,15985.0,volvo,volvo,"[volvo, 244dl]"
198,-1,volvo 245,gas,std,four,wagon,rwd,front,104.3,188.8,...,3.15,9.5,114,5400,24,28,16515.0,volvo,volvo,"[volvo, 245]"
199,-2,volvo 264gl,gas,turbo,four,sedan,rwd,front,104.3,188.8,...,3.15,7.5,162,5100,17,22,18420.0,volvo,volvo,"[volvo, 264gl]"

### Pivot Tables
You may want to use pandas pivot tables as an alternative to groupby(). They provide Excel-like functionalities to create aggregate tables.

In [307]:
help(pd.DataFrame.pivot_table)

Help on function pivot_table in module pandas.core.frame:

pivot_table(self, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions.
    fill_value : scalar, default None
        Value to replace missing values with.
    margins : bool, default False
        Add all row / columns (e.g. for subtotal / grand totals).
    dropna : bool, default True
        Do not include columns whose entries are all NaN.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged:: 0.25.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                    D    E
                mean  max      mean  min
    A   C
    bar large  5.500000  9.0  7.500000  6.0
        small  5.500000  9.0  8.500000  8.0
    foo large  2.000000  5.0  4.500000  4.0
        small  2.333333  6.0  4.333333  2.0

The general syntax is pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', ...).

    data is a dataframe
    values contains the column to aggregate
    index is the row in the pivot table
    columns contains the columns you want in the pivot table
    aggfunc is the aggregate function
    Let's see some examples.

In [314]:
dataframe.pivot_table(values='price', index='company', columns='carbody', aggfunc='sum')

carbody      convertible  hardtop   hatchback     sedan    wagon
company
Nissan               NaN      NaN         NaN    5499.0      NaN
alfa-romero      29995.0      NaN   16500.000       NaN      NaN
audi                 NaN      NaN   17859.167   88235.0  18920.0
bmw                  NaN      NaN         NaN  208950.0      NaN
buick            35056.0  73576.0         NaN  132296.0  28248.0
chevrolet            NaN      NaN   11446.000    6575.0      NaN
dodge                NaN      NaN   39099.000   22859.0   8921.0
honda                NaN      NaN   49381.000   49725.0   7295.0
isuzu                NaN      NaN   11048.000   24618.0      NaN
jaguar               NaN      NaN         NaN  103800.0      NaN
maxda                NaN      NaN   11290.000       NaN      NaN
mazda                NaN      NaN   89560.000   80249.0      NaN
mercury              NaN      NaN   16503.000       NaN      NaN
mitsubishi           NaN      NaN   86381.000   33736.0      NaN
nissan               NaN   8249.0   72045.000   71942.0  29747.0
peugeot              NaN      NaN         NaN  110310.0  60070.0
plymouth             NaN      NaN   32522.000   14301.0   8921.0
porcshce             NaN  32528.0         NaN       NaN      NaN
porsche          37028.0  34028.0   53418.500       NaN      NaN
renault              NaN      NaN    9895.000       NaN   9295.0
saab                 NaN      NaN   45040.000   46300.0      NaN
subaru               NaN      NaN   19774.000   45353.0  37368.0
toyota           17669.0  29287.0  134624.000   95422.0  23594.0
toyouta              NaN      NaN         NaN       NaN  15750.0
vokswagen            NaN      NaN         NaN    7775.0      NaN
volkswagen           NaN      NaN         NaN   79290.0  12290.0
volvo                NaN      NaN         NaN  149815.0  48880.0
vw               11595.0      NaN    9980.000       NaN      NaN

In [317]:
# Computes the mean of all numeric columns across categories

dataframe.pivot_table(columns = 'company')

company,Nissan,alfa-romero,audi,bmw,buick,chevrolet,dodge,honda,isuzu,jaguar,...,porsche,renault,saab,subaru,toyota,toyouta,vokswagen,volkswagen,volvo,vw
boreratio,3.15,3.206667,3.172857,3.47375,3.6050,2.990000,3.094444,3.021538,3.200,3.600000,...,3.840,3.46,3.373333,3.620000,3.280323,3.27,3.01,3.130000,3.662727,3.19
carheight,54.50,50.000000,54.428571,54.82500,55.7250,52.400000,51.644444,53.238462,52.225,51.133333,...,50.975,52.85,56.100000,53.750000,53.709677,54.10,55.70,55.500000,56.236364,53.50
carlength,165.30,169.600000,183.828571,184.50000,195.2625,151.933333,160.988889,160.769231,163.775,196.966667,...,170.600,179.15,186.600000,168.858333,171.422581,187.80,171.70,174.855556,188.800000,162.50
carwidth,63.80,64.566667,68.714286,66.47500,71.0625,62.500000,64.166667,64.384615,63.550,69.933333,...,67.650,66.55,66.500000,64.950000,65.045161,66.50,65.50,65.966667,67.963636,64.10
citympg,31.00,20.333333,18.857143,19.37500,18.5000,41.000000,28.000000,30.384615,31.000,14.333333,...,17.500,23.00,20.333333,26.333333,27.774194,19.00,37.00,28.666667,21.181818,24.00
compressionratio,9.40,9.000000,8.400000,8.57500,14.8250,9.566667,8.634444,9.215385,9.225,9.233333,...,9.625,8.70,9.201667,8.816667,10.377419,9.20,23.00,13.722222,10.227273,8.50
curbweight,1889.00,2639.666667,2800.714286,2929.37500,3696.2500,1757.000000,2151.333333,2096.769231,2213.500,4027.333333,...,2925.000,2519.50,2745.500000,2316.250000,2418.193548,3151.00,2261.00,2375.777778,3037.909091,2237.50
enginesize,97.00,137.333333,130.714286,166.87500,226.5000,80.333333,102.666667,99.307692,102.500,280.666667,...,185.500,132.00,121.000000,107.083333,117.451613,161.00,97.00,108.000000,142.272727,109.00
highwaympg,37.00,26.666667,24.142857,25.37500,21.0000,46.333333,34.111111,35.461538,36.000,18.333333,...,26.250,31.00,27.333333,30.750000,33.193548,24.00,46.00,35.000000,25.818182,29.00
horsepower,69.00,125.333333,121.000000,138.87500,146.2500,62.666667,86.333333,80.230769,77.000,204.666667,...,211.250,90.00,126.666667,86.250000,90.741935,156.00,52.00,82.333333,128.000000,90.00
peakrpm,5200.00,5000.000000,5500.000000,5068.75000,4487.5000,5300.000000,5388.888889,5753.846154,5150.000,4833.333333,...,5762.500,5100.00,5333.333333,4775.000000,4848.387097,5200.00,4800.00,5116.666667,5290.909091,5500.00
price,5499.00,15498.333333,17859.166714,26118.75000,33647.0000,6007.000000,7875.444444,8184.692308,8916.500,34600.000000,...,31118.625,9595.00,15223.333333,8541.250000,9696.645161,15750.00,7775.00,10175.555556,18063.181818,10787.50
stroke,3.29,2.943333,3.400000,3.16750,3.4325,3.083333,3.365556,3.462308,3.170,3.700000,...,3.005,3.90,2.903333,2.616667,3.251935,3.35,3.40,3.400000,3.147273,3.40
symboling,1.00,2.333333,1.285714,0.37500,0.0000,1.000000,1.000000,0.615385,0.750,0.000000,...,2.500,1.00,2.500000,0.500000,0.612903,-1.00,2.00,1.333333,-1.272727,3.00
wheelbase,94.50,90.566667,102.271429,103.16250,110.9250,92.466667,95.011111,94.330769,94.825,109.333333,...,92.975,96.10,99.100000,96.175000,97.896774,104.50,97.30,98.333333,106.481818,94.50